@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("font.css");

:root {
  @apply bg-body-bg text-white font-lilita;
  font-family: "lilita";
  font-weight: 400;
  font-style: normal;
}
body {
  @apply bg-body-bg text-white font-lilita;
  font-family: "lilita";
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;

  @apply bg-header-bg;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(150, 150, 150, 0.5);
}

.btn {
  @apply transition-all duration-300 ease-in-out bg-body-bg py-2 px-5 rounded-lg text-white;
}

.btn-primary {
  @apply border-2 border-primary-100 bg-primary-300 text-white;

  &:hover {
    @apply border-primary-300 bg-primary-300;
  }
}

.btn.btn-outline-primary {
  @apply border-2 border-primary-100 text-primary-100 bg-transparent;
}

.btn.btn-outline-primary:hover {
  background-color: transparent;

  @apply border-primary-300 border-2 text-primary-300 bg-transparent;
}

@keyframes bounce {
  0% {
    scale: 0.7;
  }
  100% {
    scale: 1;
  }
}

.bounce {
  animation: bounce 2s ease-in-out forwards;
}

.badge-wrapper {
  --width: 70px;
  filter: url("#round-filter");
  height: calc(var(--width) * 0.89);
  width: var(--width);

  .badge {
    height: calc(var(--width) * 0.89);
    width: var(--width);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    transform: rotate(29deg);
    filter: url("#round-filter");

    div {
      position: absolute;
      height: calc(var(--width) * 0.8);
      width: calc(var(--width) * 0.9);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      top: 3px;
      left: 3px;

      display: flex;
      justify-content: center;
      align-items: center;

      span {
        transform: rotate(-29deg);
        @apply text-white;
      }

      @apply bg-[#f9843f];
    }

    @apply bg-[#f4aa5f];
  }
}

.nft_cards {
  display: grid;
  gap: 0;
  background-color: var(--header-bg);
  border-radius: 16px;
  padding-top: 10px;
}

.nft_cards .item {
  cursor: pointer;
  position: relative;
  padding: 0;
  height: 24rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: radial-gradient(circle, rgba(68, 99, 126, 0.9) 30%, #203550 70%);
}

.nft_cards .item .nft_image {
  max-height: 50%;
  margin-bottom: 2rem;
}

.nft_cards .item .bg-gradient {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 90px;
  left: 0;
  background: linear-gradient(
    4deg,
    rgba(15, 21, 27, 0.35) 12%,
    rgba(32, 53, 80, 0) 100%
  );
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.nft_cards .item_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 75px;
  background-color: #24394c;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.nft_cards .item_footer .border-top {
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(297deg, #535368 0%, #a3a3cc 100%);
}

.nft_cards .item_footer .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.nft_cards .item_footer .info .name {
  color: var(--c-primary);
}

.nft_cards .item_footer .info .rarity {
  color: #f9d67a;
  display: inline-flex;
  margin-top: 0.75rem;
}

.nft_cards .item_footer .action {
  display: flex;
  margin-bottom: 0.25rem;
}

.nft_cards .item_footer .top,
.nft_cards .item_footer .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nft_cards .item_footer .top .name {
  color: var(--primary-300);
}

.nft_cards .item_footer .top .rarity {
  color: var(--c-primary);
  font-size: 12px;
}

.nft_cards .item_footer .bottom .price {
  display: flex;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
}

.nft_cards .item_footer .bottom .price img {
  width: 24px;
  height: 24px;
}

.nft_cards .item_footer .bottom .usd {
  font-size: 12px;
  color: var(--c-primary);
}

.nft_cards .item .right-border {
  transition: all 800ms ease;
  top: unset !important;
  left: unset !important;
  bottom: 0;
  right: 0;
}

.nft_cards .item .bottom-border {
  bottom: 0 !important;
  top: unset !important;
  left: unset !important;
  right: 0%;
  transition: all 800ms ease;
}

.nft_cards .item .glow1,
.nft_cards .item .glow2 {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  border-radius: 50%;
  opacity: 0;
  top: 0;
  left: 0;
  filter: blur(60px);
  transition: all 200ms ease;
}

.nft_cards .item .glow1 {
  background-color: "#7ca8c6";
  z-index: -1;
  transform: translate(16.5%, 16.5%);
}

.nft_cards .item .glow2 {
  background-color: "#7ca8c6";
  z-index: -2;
  transform: translate(-16.5%, -16.5%);
}

.nft_cards .item:hover .top-border,
.nft_cards .item:hover .bottom-border {
  opacity: 1;
  width: 100%;
}

.left-border,
.right-border {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: o;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 80%
  );

  transition: all 500ms ease;
  width: 2.5px;
}

.top-border,
.bottom-border {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;

  height: 2.5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 90%
  );
  transition: all 500ms ease;
  width: 0;
}

.right-border {
  transition: all 800ms ease;
  top: unset !important;
  left: unset !important;
  bottom: 0;
  right: 0;
}

.bottom-border {
  bottom: 0 !important;
  top: unset !important;
  left: unset !important;
  right: 0%;
  transition: all 800ms ease;
}

.nft_cards .item:hover .left-border,
.nft_cards .item:hover .right-border {
  opacity: 1;
  height: 100%;
}

.hover-border {
  border: 0.2px solid transparent;
  transition: border-color 1s ease-in-out, box-shadow 0.5s ease-in-out;
}

.hover-border:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 1);
}

.nft_cards .item_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nft_cards .item_header .title {
  background-color: #f9843f;
  border: 4px solid #f4aa5f;
  width: 100%;
  height: 2.25rem;
  border-radius: 0.5rem;
  text-align: center;
}

.nft_cards .item_header .badge-wrapper {
  position: absolute;
  top: -12px;
  left: -12px;
}

.box-gradient {
  background: rgb(68, 99, 126);
  background: radial-gradient(circle, rgba(68, 99, 126, 0.75) 20%, #203550 80%);
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  cursor: grab;
  scroll-behavior: smooth;
  width: 100%;
  -ms-overflow-style: none; /* Internet Explorer ve Edge için */
  scrollbar-width: none; /* Firefox için */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Webkit tarayıcılar (Chrome, Safari) için */
}

.scroll-item {
  flex: 0 0 auto;
  margin-right: 16px;
}

.subitem-image{
  transform:scale(1.5) !important;
  transform-origin: center center;
  object-fit: contain;
  max-width: 100% !important;
  max-height: 100% !important;
  background-position: center;
}
