.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 2%;
  bottom: 30px;
  font-size: 17px;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  opacity: 0;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}
